.alerts {
    padding: 20px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  }
  
  .alert__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
  }
  
  .alert__item--alert {
    background-color: #FFF3E0;
    border-color: #FFA500; 
  }
  
  .alert__item--block {
    background-color: #FFE6E6; 
    border-color: #FF0000; 
  }
  
  .alert__item--check {
    background-color: #E6FFE6; 
    border-color: #00FF00; 
  }
  
  .alert__item--info {
    background-color: #F0F0F0; 
    border-color: #000000; 
  }
  
  .alert__item--bell {
    background-color: #E6F0FF; 
    border-color: #0000FF; 
  }
  
  .item__svg {
    margin-right: 10px;
  }
  
  .item__text h2 {
    margin: 0;
  }
  
  .item__closeBtn {
    margin-left: auto;
    cursor: pointer;
  }
  