.signUp {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signUpBtn {
    padding: 20px;
    font-size: 3em;
    color: white;
    background-color: #333;
    cursor: pointer;
}