.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: "Playwrite NG Modern", cursive;
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .header__logo img {
      max-width: 100px;
    }
  
    .header__nav {
      .header__list {
        display: flex;
  
        .header__el {
          margin-right: 20px;
  
          &:last-child {
            margin-right: 0;
          }
  
          .header__link {
            border: none;
            background-color: inherit;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s ease;
  
            &:hover {
              cursor: pointer;
              color: #ff6600;
            }
          }
        }
      }
    }
  }
  