.title {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;

    &__wraper {
        border: 5px, solid black;
        padding: 5px;
    }
}
.big-title {
    font-size: 48px;
}